fastapi==0.109.0
fastapi-cli==0.0.7
numpy==2.2.6
onnxruntime-gpu==1.23.2
opencv-python-headless==4.13.0.92
pillow==12.2.0
pydantic==2.5.3
pydantic-settings==2.1.0
pydantic_core==2.14.6
python-multipart==0.0.6
rembg==2.0.69
sse-starlette==3.0.3
uvicorn==0.27.0
